*{
	padding:0;
	margin:0;
	border:0
}
*,
:active,
:before{
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
:active,
:focus{
	outline:0
}
aside,
footer,
header,
nav{
	display:block
}
body,
html{
	height:100%;
	width:100%;
	line-height:-1;
	font-size:14px;
	-ms-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
button,
input,
textarea{
	font-family:inherit
}
input::-ms-clear{
	display:none
}
button{
	cursor:pointer
}
button::-moz-focus-inner{
	padding:0;
	border:0
}
a,
a:visited{
	text-decoration:none
}
a:hover{
	text-decoration:none
}
ul li{
	list-style:none
}
img{
	vertical-align:top
}
span{
	font-style:normal
}
:root{
	--black292929:#292929;
	--violet791B9A:#791B9A;
	--purple9F23CA:#9F23CA;
	--dark-blue1C3E98:#1C3E98;
	--blue2552C8:#2552C8;
	--dark-green279955:#279955;
	--green35CB71:#35CB71;
	--brownA45F10:#A45F10;
	--orangeDE8115:#DE8115;
	--grey373737:#373737;
	--grey616161:#616161;
	--light-grey7D7D7D:#7D7D7D;
	--header-back:var(--black292929);
	--body-back:var(--grey373737)
}
.dark-theme{
	--header-back:var(--black292929);
	--body-back:var(--grey373737)
}
.gray-theme{
	--header-back:var(--grey616161);
	--body-back:var(--light-grey7D7D7D)
}
.light-gray-theme{
	--header-back:var(--grey616161);
	--body-back:#9D9D9D
}
.green-theme{
	--header-back:var(--dark-green279955);
	--body-back:var(--green35CB71)
}
.blue-theme{
	--header-back:var(--dark-blue1C3E98);
	--body-back:var(--blue2552C8)
}
.purple-theme{
	--header-back:var(--violet791B9A);
	--body-back:var(--purple9F23CA)
}
.orange-theme{
	--header-back:var(--brownA45F10);
	--body-back:var(--orangeDE8115)
}
.custom-main-scroll{
	-webkit-scrollbar-width:thin;
	-webkit-scrollbar-color:#7f7f7f;
	scrollbar-width:thin;
	scrollbar-color:#7f7f7f;
	scrollbar-gutter:stable;
	margin-right:-10px;
	padding-right:2px
}
.montserrat{
	font-family:Montserrat,sans-serif
}
.montserrat__boid{
	font-weight:700
}
.montserrat__semi-bold{
	font-weight:600
}
.montserrat__medium{
	font-weight:500
}
.montserrat__regular{
	font-weight:400
}
.text_30{
	font-size:30px
}
.text_24{
	font-size:24px
}
.text_21{
	font-size:21px
}
.text_20{
	font-size:20px
}
.text_18{
	font-size:18px
}
.text_15{
	font-size:15px
}
.text_14{
	font-size:15px
}
.custom-radio{
	--radios-circle:12px;
	--color-cicle:#DDDDDD
}
.custom-radio input{
	opacity:0;
	width:0;
	position:absolute
}
.custom-radio label{
	padding-left:24px;
	position:relative;
	cursor:pointer
}
.custom-radio label:before{
	position:absolute;
	left:0;
	content:"";
	width:var(--radios-circle);
	height:var(--radios-circle);
	border:1px solid #fff;
	padding:1px;
	border-radius:100%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%)
}
.custom-radio label:after{
	-webkit-transition:.3s opacity ease-out;
	transition:.3s opacity ease-out;
	position:absolute;
	left:0;
	-webkit-transform:scale(.5) translateY(-100%);
	-ms-transform:scale(.5) translateY(-100%);
	transform:scale(.5) translateY(-100%);
	content:"";
	width:calc(var(--radios-circle));
	height:calc(var(--radios-circle));
	opacity:0;
	background:#fff;
	border-radius:100%
}
.custom-radio label:after,
.custom-radio label:before{
	top:50%
}
.custom-radio input[type=radio]:checked+label:after{
	opacity:1
}
.settings-theme label{
	padding-bottom:17px;
	padding-left:0
}
.settings-theme label:before{
	background:#9a9797;
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
	border-color:#9a9797
}
.settings-theme label:after{
	background:#fff;
	-webkit-transform:translateX(-50%) scale(.7);
	-ms-transform:translateX(-50%) scale(.7);
	transform:translateX(-50%) scale(.7)
}
.settings-theme label:after,
.settings-theme label:before{
	bottom:0;
	left:50%;
	top:auto
}
.settings-theme__list{
	max-height:400px;
	display:grid;
	row-gap:12px;
	grid-template-columns:1fr 1fr;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}
.settings-theme__item{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-ms-flex-line-pack:center;
	align-content:center
}
.settings-output{
	color:#fff;
	max-height:270px
}
.settings-output__container-for-list{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between
}
.settings-output__list-radio{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	gap:8px;
	line-height:116%
}
.settings-output__list-radio_separator label{
	padding-left:29px
}
.settings-output__list-radio_rounding label{
	padding-left:15px
}
.currency{
	color:#fff;
	max-height:500px;
	overflow-x:hidden;
	overflow-y:auto;
	margin-top:25px
}
.currency__item{
	display:grid;
	grid-template-columns:37% 63%;
	cursor:pointer;
	gap:14px;
	padding-block:2px
}
.currency__item:focus{
	-webkit-box-shadow:var(--header-back) 0 1px 4px inset;
	box-shadow:var(--header-back) 0 1px 4px inset
}
.currency__item:active{
	-webkit-box-shadow:var(--header-back) 0 1px 4px;
	box-shadow:var(--header-back) 0 1px 4px
}
.currency__item_main-hidden{
	display:none
}
.currency__item_hidden{
	display:none
}
.currency__flag{
	justify-self:right;
	overflow:hidden;
	border-radius:3px
}
.converter{
	max-height:600px;
	width:321px;
	position:relative;
	background:var(--body-back);
	border-radius:22px;
	min-height:326px
}
.converter__output{
	color:#fff;
	text-align:center
}
.converter__output_m39{
	margin-top:39px
}
.converter__output_m26{
	margin-top:26px
}
.converter__head{
	color:#fff;
	text-align:center
}
.converter__search{
	background:#fff;
	margin-block:1rem;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	height:38px;
	border-radius:13px
}
.converter__search:before{
	background:url(../img/icons/search.svg) no-repeat 0 0/contain;
	width:30px;
	content:"";
	padding:4px;
	margin:5px
}
.converter__list-currency{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	gap:26px
}
.converter__swap{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	margin-bottom:10px
}
.converter__swap-img{
	position:relative;
	z-index:10
}
.converter__swap-img img,
.converter__swap-img picture,
.converter__swap-img source,
.converter__swap-img svg{
	max-width:36px
}
.converter__fields{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	gap:17px;
	max-height:270px;
	overflow:auto;
	padding:1px
}
.converter__fields label{
	max-width:160px
}
.converter__btn-add{
	background:#fff;
	margin-block:23px;
	height:33px;
	width:100%;
	border-radius:6px
}
.converter__header{
	background:var(--header-back,#292929);
	color:#fff;
	height:55px;
	border-radius:22px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	padding-inline:17px 29px;
	padding-block:11px 13px
}
.converter__main{
	padding-inline:25px;
	padding-block:21px 25px;
	display:none
}
.converter__main_show{
	display:block
}
.converter__list-icons{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	gap:1rem
}
.converter__nav-icon:first-child{
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	margin-right:15%
}
.converter__nav-icon img,
.converter__nav-icon picture,
.converter__nav-icon source,
.converter__nav-icon svg{
	color:#fff;
	max-width:100%;
	max-height:32px
}
.currency-field{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	gap:6px;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.currency-field_center{
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.currency-field_center .currency-field__input input{
	text-align:center
}
.currency-field__input{
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	-webkit-box-shadow:inset 3px 4px 16px -8px;
	box-shadow:inset 3px 4px 16px -8px
}
.currency-field__input input{
	text-align:end;
	background:0 0
}
.currency-field__btn-show-list{
	color:#fff;
	position:relative;
	padding-right:14px
}
.currency-field__btn-show-list:after{
	content:"";
	position:absolute;
	border:6px solid transparent;
	border-top:7px solid #ccc;
	top:50%;
	right:-1px;
	-webkit-transform:translateY(-18%);
	-ms-transform:translateY(-18%);
	transform:translateY(-18%)
}
.currency-field__country-flag{
	border-radius:3px;
	-ms-flex-negative:0;
	flex-shrink:0;
	overflow:hidden
}
.field-input{
	background:#fff;
	height:33px;
	border-radius:6px;
	line-height:normal;
	padding-inline:8px;
	padding-block:2px
}
.field-input input{
	max-width:100%;
	font-size:inherit;
	font-weight:inherit;
	width:100%
}
.offer-unblock{
	margin-inline:auto;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	width:fit-content;
	margin-top:42px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center
}
.offer-unblock__list{
	color:#fff
}
.offer-unblock__item{
	list-style:disc;
	padding-left:5px
}
.offer-unblock__bnt{
	background:#fff;
	margin-top:68px;
	width:136px;
	height:33px;
	border-radius:10px
}
button{
	background:0 0;
	-webkit-transition:.3s;
	transition:.3s
}
button:focus{
	outline:1px solid red
}
button:active{
	-webkit-transform:scale(1.01);
	-ms-transform:scale(1.01);
	transform:scale(1.01)
}
@supports (-webkit-appearance:none){
	.converter__search:before{
		background-image:url(../img/icons/search.svg)
	}
}
@media (max-width:480px){
	.converter__list-currency{
		gap:15px
	}
	.converter__main{
		padding:16px
	}
}
@media screen and (max-width:375px){
	.converter__main{
		padding:14px
	}
}
@media (hover:hover){
	button:hover{
		-webkit-transform:scale(.9);
		-ms-transform:scale(.9);
		transform:scale(.9)
	}
	button:active{
		-webkit-transform:scale(1.01);
		-ms-transform:scale(1.01);
		transform:scale(1.01)
	}
}