<div id="main_currency-converter" class="converter__main  ">
  <form id="form-list-currency" class="converter__fields custom-main-scroll">
    <div hidden  style="display:none;"  class="currency-field">
      <label class="currency-field__input field-input montserrat__regular text_24">
         <input data-input="" data-value="" name="DOP" type="text" value="" >
      </label>
      <button type="button" data-btn="" class="currency-field__btn-show-list montserrat__medium text_18">
        DOP
      </button>
      <div data-imgConainer class="currency-field__country-flag">
        <img src="@@webRoot/static/img/FLAG%20DOP.jpg" class="montserrat__medium text_18" alt="DOP" title="DOP"/>
      </div>
    </div>
  </form>
  <button id="btn-add-currency" type="button" class="converter__btn-add text_15 montserrat__medium">
    Add more
  </button>
</div>