<form id="form-add-currency" class="converter__main ">

    <h1 class="converter__head montserrat__semi-bold text_20">
        Currency
    </h1>

    <label class="field-input converter__search">
        <input id = 'form-search' placeholder="Find" type="text" class="montserrat__medium text__14">
    </label>
    <ul class="converter__list-currency currency custom-main-scroll">
        <li hidden style="display: none" class="currency__item">
            <div class="currency__flag">
                <img src="" data-currency="DOP" alt="DOP" title="DOP"/>
            </div>
            <p title="DOP" class="currency__title montserrat__medium text_20">DOP</p>
        </li>
    </ul>


</form>