<div id="offer-unblock" class="converter__main">

    <div class="offer-unblock">
        <ul class="offer-unblock__list montserrat__regular text_18">
            <li class="offer-unblock__item">
              Free themes
            </li>
            <li class="offer-unblock__item">
                Add more currency
            </li>
            <li class="offer-unblock__item">
                Support us
            </li>
        </ul>
        <button id="btn-offer-unlock" class="offer-unblock__bnt montserrat__medium text_15">
            Unlock app
        </button>
    </div>

</div>