<div id="settings-theme" class="converter__main">
    <form id="form-settings-theme" class="custom-radio settings-theme">
        <ul class="settings-theme__list custom-main-scroll">
            <li class="settings-theme__item">
                <input id="theme-blue"  type="radio" name="theme" value="blue"  >
                <label for="theme-blue">
                    <img width="89" height="99" src="@@webRoot/static/img/theme-blue.svg" alt="blue theme">
                </label>
            </li>
            <li class="settings-theme__item">
                <input id="theme-green" type="radio" name="theme" value="green"  >
                <label for="theme-green">
                    <img width="89" height="99" src="@@webRoot/static/img/theme-green.svg" alt="green theme">
                </label>
            </li>
            <li class="settings-theme__item">
                <input id="theme-orange" type="radio" name="theme" value="orange"  >
                <label for="theme-orange">
                    <img width="89" height="99" src="@@webRoot/static/img/theme-orange.svg" alt="orange theme">
                </label>
            </li>
            <li class="settings-theme__item">
                <input id="theme-lock" type="radio" name="theme" value="lock"  >
                <label for="theme-lock">
                    <img width="89" height="99" src="@@webRoot/static/img/icons/lock.svg" alt="orange theme">
                </label>
            </li>
        </ul>
        
    </form>


</div>