<div id="settings-output" class="converter__main">
    <form id="form-setting-output" class="settings-output custom-radio ">
        <div class="settings-output__container-for-list custom-main-scroll">
            <ul class="settings-output__list-radio settings-output__list-radio_separator montserrat__medium text_21">
                <li class="settings-output__item-list">
                    <input type="radio" id="separator-comma-point" name="separator" value="comma-point"/>
                    <label for="separator-comma-point" class="settings-output__field">1,234.56</label>
                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="separator-point-comma" name="separator" value="point-comma"/>
                    <label for="separator-point-comma" class="settings-output__field">1.234,56</label>
                </li>

                <li class="settings-output__item-list">
                    <input type="radio" id="separator-point" name="separator" value="point"/>
                    <label for="separator-point" class="settings-output__field">1 234.56</label>

                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="separator-comma" name="separator" value="comma"/>
                    <label for="separator-comma" class="settings-output__field">1 234,56</label>

                </li>
            </ul>

            <ul class="settings-output__list-radio settings-output__list-radio_rounding montserrat__medium text_21">
                <li class="settings-output__item-list">
                    <input type="radio" id="rounding-2" name="rounding"  value="2"/>
                    <label for="rounding-2" class="settings-output__field">.02</label>
                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="rounding-3" name="rounding" value="3"/>
                    <label for="rounding-3" class="settings-output__field">.003</label>
                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="rounding-4" name="rounding" checked value="4"/>
                    <label for="rounding-4" class="settings-output__field">.0004</label>
                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="rounding-5" name="rounding" value="5"/>
                    <label for="rounding-5" class="settings-output__field">.00005</label>
                </li>
                <li class="settings-output__item-list">
                    <input type="radio" id="rounding-0" name="rounding" value="0"/>
                    <label for="rounding-0" class="settings-output__field">Don’t show</label>
                </li>
            </ul>
        </div>
        <p data-output="" data-value="1123.456" class="converter__output converter__output_m26 montserrat__boid text_30">
            1 123,456
        </p>
 </form>


</div>