<div id="two-currency-convert" class="converter__main">

    <form id="form-two-currency-converter" class="converter__fields">
        <div class="converter__swap">
            <div id="two-currency-left" class="currency-field">
                <button  type="button"  class="currency-field__btn-show-list montserrat__medium text_18">
                    DOP
                </button>
                <div class="currency-field__country-flag">
                    <img src="@@webRoot/static/img/FLAG%20DOP.jpg" alt="DOP" title="DOP"/>
                </div>
            </div>
            <button type="button" id="btn-two-currency-swap" class="converter__swap-img">
                <img src="@@webRoot/static/img/icons/arrive.svg" alt="swap"/>
            </button>
            <div id="two-currency-right"  class="currency-field">
                <button  type="button"  class="currency-field__btn-show-list montserrat__medium text_18">
                    DOP
                </button>
                <div class="currency-field__country-flag">
                    <img src="@@webRoot/static/img/FLAG%20DOP.jpg" alt="DOP" title="DOP"/>
                </div>
            </div>
        </div>
        <div class="currency-field currency-field_center">
            <label class="currency-field__input field-input montserrat__regular text_24">
                <input data-input=""  data-value="99" type="text" value="99"  >
            </label>
        </div>
        <p class="converter__output converter__output_m39 montserrat__boid text_30">
           <span data-output="" data-value="123.456">123,456</span> <span data-currency="TRY">TRY</span>
        </p>
    </form>


</div>