
:root{
  --black292929:#292929;

  --violet791B9A:#791B9A;
  --purple9F23CA:#9F23CA;

  --dark-blue1C3E98:#1C3E98;
  --blue2552C8:#2552C8;

  --dark-green279955:#279955;
  --green35CB71:#35CB71;

  --brownA45F10:#A45F10;
  --orangeDE8115:#DE8115;

  --grey373737:#373737;
  --grey616161:#616161;
  --light-grey7D7D7D:#7D7D7D;

  --header-back:var(--black292929);
  --body-back:var(--grey373737);
}

.dark-theme{
  --header-back:var(--black292929);
  --body-back:var(--grey373737);
}
.gray-theme{
  --header-back:var(--grey616161);
  --body-back:var(--light-grey7D7D7D);
}
.light-gray-theme{
  --header-back:var(--grey616161);
  --body-back:#9D9D9D;
}
.green-theme{
  --header-back:var(--dark-green279955);
  --body-back:var(--green35CB71);
}
.blue-theme{
  --header-back:var(--dark-blue1C3E98);
  --body-back:var(--blue2552C8);
}
.purple-theme{
  --header-back:var(--violet791B9A);
  --body-back:var(--purple9F23CA);
}
.orange-theme{
  --header-back:var(--brownA45F10);
  --body-back:var(--orangeDE8115);
}